.btn-with-gradient {
  display: inline-flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  background: linear-gradient(135deg, rgb(5, 130, 172), rgb(16, 85, 97));
  border-radius: 3px;
  font-size: 14px;
  height: 36px;
  /* padding: 0 16px; */
  color: #ffffff !important;
  border: none;
  width: 100%;
  /* min-width: 80px; */
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.btn-with-gradient:hover {
  opacity: 0.9;
  background: linear-gradient(135deg, rgb(5, 130, 172), rgb(16, 85, 97));
  transform: translateY(-1px);
}

.btn-with-gradient:focus{
  outline: none;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
