.custom-red-btn {
  display: inline-flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ff4d36;   
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;         
  font-size: 14px;           
  font-weight: 400;
  box-shadow: none;
  transition: background 0.2s;
  white-space: nowrap;
}

.custom-red-btn:hover,
.custom-red-btn:focus {
  background-color: #e0432e;   
  color: #fff;
}