.editButton {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0.5px solid #b9a2a2;
  background-color: #128b69;
  color: #fff;
  cursor: pointer;
  /* margin-left:3px; */
  /* transition: all 0.2s ease; */
  padding: 3px;
}
.editButton:hover{
  border: 0.5px solid #b9a2a2;
  background-color: #128b69;
}