.page-container {
    /* border: 1px solid red; */
    /* min-height: 100vh; */
    border-top: 5px solid #0d92ae;
    background-color: white;
    /* background-color: #d9e0e7; */
    padding: 2rem;
    /* padding: 0px 20px 10px; */
    margin-left: 30px;
    margin-right: 30px;
    /* margin: 0px 15px; */
}